{% extends 'base.html' %} 

{% block content %}
<div class="col-xs-12" style="margin-bottom: 15px">
    <div class="ultra-feature-container">
        <div class="row">            
            <div class="col-xs-12">
                <h3>{{ title }} <span class="label label-default">{{ subtitle }}</span> </h3>              
            </div>

            {% if task %}
            <div id="task-panel" class="col-xs-12 col-md-12" style="margin-bottom: 15px">
                <h3 id="task-title">Existe uma tarefa em execução</h3>
                <div id="task-message" class="alert alert-info" role="alert"></div>
                <div class="progress">
                    <div id="task-progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: ">
                        ${currentPerc}%
                    </div>
                </div>
            </div>
            {% else %}            
            <div class="col-xs-12 col-md-12" style="margin-bottom: 15px">
                {% include 'financeiro/cobranca/email-cobranca/form.html' %}
            </div>

            <div class="col-xs-12 col-md-12" style="margin-bottom: 15px">
                {% include 'financeiro/cobranca/email-cobranca/table.html' %}
            </div>
            {% endif %} 

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if task %}
<script>
    $(document).ready(function () {
        var iniciar = taskControl();
        iniciar.init('{{ task.id }}');
    });
</script>
{% endif %}
{% endblock %}